<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table  class="table">
                <thead>
                  <tr>
                    <th>Şuanki Fiyat</th>
                    <th>Model Yılı</th>
                    <th>Araç Açıklaması</th>
                    <th>Müsait Durumu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let carItem of cartItems">
                    <td>{{ carItem.car.dailyPrice }}</td>
                    <td>{{ carItem.car.modelYear }}</td>
                    <td>{{ carItem.car.carDescription }}</td>
                    <td>{{ carItem.car.isAvailable }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-4">
            <h4>Rent Details</h4>
            <label for="dayCount">Day Count</label>
            <input type="number" id="dayCount" class="form-control" placeholder="Day Count"/>
            <br>
            <button  class="btn btn-fill btn-success">Rent</button>
        </div>
    </div>
</div>